@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

.setup-page {
    max-width: 700px !important;
    margin: auto !important;
}

.nounderline {
    text-decoration: none !important;
}

.login-form {
    border: 1px solid #ddd;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

.login-form p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.v-center {
    min-height: 100vh;
    display: flex;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}