.nav-item {
    padding-top: -16px;
    padding-bottom: -16px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.admin-header {
    min-width: 600px;
    max-width: 900px;
}

.admin-table {
    min-width: 600px;
    max-width: 900px;
}

.admin-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.admin-header-text {
    font-weight: 200;
    font-size: 1.3em;
}